/* Main Styling */

:root {
    --yellow: #FFF500;
    --pink: #ff4bfe;
    --red: #FF0000;
    --purple: #811CB0;
    --teal: #2fa388;
    --blue-purple: #2f4aa3;
    --light-red: #a32f4a;
    --dark-yellow: #a3882f;
    --black: #000000;
    --white: #FFFFFF;
    --grey: #92a5ce;
    --bg1: #373347;
    --bg2: #333947;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: var(--white)
}

html {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: alaska, sans-serif
}

body {
    margin: 0;
    padding: 0;

    border: 0;

    overflow-x: hidden;

    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    word-wrap: break-word;

    background-color: var(--bg2);
}

header {
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
     font-size: 3rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

.section {
    min-height: 50vh;
    padding: 2rem;
}

.s1 {
    min-height: 100vh;
    background: var(--bg1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2 {
    background: var(--bg2);
}

.s3 {
    background: var(--bg1);
}

.s4 {
    background: var(--bg2);
}

span {
    color: var(--red);
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container>* {
    margin: 2rem auto;
}

.s1>.flex-container {
    margin: auto 0;
    vertical-align: middle;
}

.s1>.flex-container>.flex-section {
    text-align: center;
    margin: 0;
}

#see-projects {
    font-size: 1.5rem;

    padding: 0.5rem;

    border: 2px solid var(--grey);
    border-radius: 12px;
}

#see-projects:hover {
    color: var(--red);
    border-color: var(--red);
    font-size: 1.5rem;
}

#offerings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

.offering {
    flex-basis: 20%;
    min-width: 30ch;
}

.offering>p {
    font-size: 1.5rem;
}

.offering>h3,
.offering>p {
    text-align: center;
}

.offering>h3 {
    padding: 5px;
    border-bottom: 4px solid var(--teal);
}

.about-container {
    display: flex;
    max-width: 80%;
}

.about-content {
    flex-basis: 100%;
}

.about-content>p{
    font-size: 1.5rem;
}

.project {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
}

.project>.project-content {
    flex-basis: 60%;
}

.project>.project-image {
    flex-basis: 40%;
}

.project-content>h3>a {
    cursor: pointer;
    width: 20%;
}

.project-content>h3>a:hover {
    color: var(--red)
}

.technology-used {
    font-size: 1.75rem;
}

.project-description {
    font-size: 1.5rem;
}

/* Header Styling */
footer {
    background-color: var(--bg2);
}

footer>.flex-container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
}

footer>.flex-container>a {
    margin: 1em 0;
    font-size: 1.25rem;
}

footer>p {
    margin: 1em auto;
    text-align: center;
    font-size: 1rem;
}


/* Header Styling */
header {
    border-bottom: 2px solid var(--grey);
    background-color: var(--bg1);
    width: 100vw;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
}