/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

/* Main Styling */

:root {
    --yellow: #FFF500;
    --pink: #ff4bfe;
    --red: #FF0000;
    --purple: #811CB0;
    --teal: #2fa388;
    --blue-purple: #2f4aa3;
    --light-red: #a32f4a;
    --dark-yellow: #a3882f;
    --black: #000000;
    --white: #FFFFFF;
    --grey: #92a5ce;
    --bg1: #373347;
    --bg2: #333947;
    --bg-header: rgba(46, 42, 59, .90);

    --bgOption1: #2fa388;
    --bgOption2: #6d545d;
    --bgOption3: #F0CF65;
    --bgHeader: #6d545d;
    --titles: #8ac4ff;
    --highlight: #f0cf65;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: var(--white)
}

html {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: 'MuseoModerno', cursive;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    border: 0;

    overflow-x: hidden;

    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    word-wrap: break-word;

    background-color: var(--bg2);
}

header {
    position: fixed;
    background-color: var(--bg-header);
    width: 100vw;
    z-index: 999;
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
}

.nav-links {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.25rem;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
    cursor: pointer;
}

.logo {
    grid-column: 2 / 3;
    cursor: initial;
}

nav {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav a {
    margin-left: 3em;
    margin-bottom: 0;
    position: relative;
}

nav a:hover {
    color: var(--teal);
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    background: var(--teal);
    position: absolute;
    top: -1em;
    left: 0;
    right: 0;

    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

nav a:hover::before {
    transform: scale(1, 1);
}

.fade-in {
    opacity: 0;
    transition: 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
    border-bottom: 3px solid var(--teal);
    padding-bottom: 0.5rem;
}

h3 {
    font-size: 2.5rem;
}


.section {
    min-height: 50vh;
    padding: 2rem;
    position: relative;
}

.s1 {
    min-height: 100vh;
    /* background: var(--bg1); */
    display: flex;
    justify-content: center;
    align-items: center;

    /* background: linear-gradient(103deg, var(--bg1), var(--bg2));    background-size: 400% 400%; */
    background: var(--bgOption2);

    -webkit-animation: s1-animation 5s ease infinite;
    -moz-animation: s1-animation 5s ease infinite;
    animation: s1-animation 5s ease infinite;
}


@-webkit-keyframes s1-animation {
    0%{background-position:34% 0%}
    50%{background-position:67% 100%}
    100%{background-position:34% 0%}
}
@-moz-keyframes s1-animation {
    0%{background-position:34% 0%}
    50%{background-position:67% 100%}
    100%{background-position:34% 0%}
}
@keyframes s1-animation {
    0%{background-position:34% 0%}
    50%{background-position:67% 100%}
    100%{background-position:34% 0%}
}

.s2 {
    /* background: var(--bgOdd); */
}

.s3 {
    background: var(--bgOption2);
}

.s4 {
    background: var(--bgOdd);
}

span {
    color: var(--teal);
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container>* {
    margin: 2rem auto;
}

.flex-container>h2 {
    text-shadow: 1px 1px var(--black)
}

.s1>.flex-container {
    margin: auto 0;
    vertical-align: middle;
}

.s1>.flex-container>.flex-section {
    text-align: center;
    margin: 0;
}

#see-projects {
    font-size: 1.5rem;

    padding: 0.5rem;

    border: 4px solid var(--grey);
    border-radius: 12px;

    transition: 250ms ease-in-out;
}

#see-projects:hover {
    color: var(--teal);
    border-color: var(--teal);
    font-size: 1.5rem;
}

#offerings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

.offering {
    flex-basis: 20%;
}

.offering>p {
    font-size: 1.5rem;
}

.offering>h3,
.offering>p {
    text-align: center;
}

.offering>h3 {
    padding: 5px;
    border-bottom: 4px solid var(--teal);
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    gap: 2em;
}

.about-content {
    flex-basis: 100%;
}

.about-content-image {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.about-content>p {
    font-size: 1.5rem;
}

.me-image {
    max-width: 100%;
    border: 3px solid var(--teal);
    border-radius: 12px;
    margin: 0 auto;
}

.projects {
    display: flex;
}

.project {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
}

.project>.project-content {
    flex-basis: 100%;
}

.project>.project-image {
    flex-basis: 50%;
}

.project-content>h3>a {
    cursor: pointer;
    width: 20%;
    border-bottom: 3px solid var(--teal);
    transition: 250ms ease-in-out;
}

.project-content>h3>a:hover {
    color: var(--teal)
}

.technology-used {
    font-size: 1.75rem;
    color: var(--teal);
}

.project-description {
    font-size: 1.5rem;
}

.project-image {
    max-width: 80%;
    box-shadow: 10px 5px 5px var(--black);
}

/* Footer Styling */
footer {
    background-color: var(--bg2);
}

footer>.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
}

footer>.flex-container>a {
    margin: 1em 0;
    font-size: 1.25rem;
}

footer>p {
    margin: 1em auto;
    text-align: center;
    font-size: 1rem;
}

.contact-link:hover {
    color: var(--teal);
}

/* s1 curve */
.custom-shape-divider-bottom-1646026584 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1646026584 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 58px;
}

.custom-shape-divider-bottom-1646026584 .shape-fill {
    fill: #333947;
}

/* s2 curve */
.custom-shape-divider-bottom-1646026865 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1646026865 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 58px;
}

.custom-shape-divider-bottom-1646026865 .shape-fill {
    fill: #6D545D;
}

/* s3 curve */


/* Tablet and Smaller Styling */
@media all and (max-width : 60em) {
    header {
        display: block;
        text-align: center;
        z-index: 999;
        min-width: 10vh;
    }

    .logo {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-size: 2rem;
    }

    /* Look for any nav as a preceding sibling */
    .nav-toggle:checked ~ nav {
        transform: scale(1, 1);
    }

    .nav-toggle:checked ~ nav .nav-links li a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 350ms;
    }
    
    .nav-toggle-label {
        position: absolute;
        top: 0;
        left:0;
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 1em;
    }

    /* Create hamburger */
    .nav-toggle-label>span,
    .nav-toggle-label>span::before,
    .nav-toggle-label>span::after {
        display: block;
        background: var(--white);
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }

    /* Make sure the pseudo-elements have content so they display */
    .nav-toggle-label>span::before,
    .nav-toggle-label>span::after {
        content: '';
        position: absolute;
    }

    /* Move the before pseudo-element down */
    .nav-toggle-label>span::before {
        bottom: 7px;
    }

    /* Move the after pseudo-element up */
    .nav-toggle-label>span::after {
        top: 7px;
    }

    nav {
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        background-color: var(--bg-header);

        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
    }
    
    nav ul {
        display: block;
    }

    nav a {
        margin-left: 0;
    }

    nav a::before {
        display: none;
    }

    .nav-links {
        padding-top: 1em;
        width: 100vw;
        border-bottom: 2px solid var(--grey);
    }

    .nav-links>li {
        margin-bottom: 1em;
        margin-left: 1em;
    }

    .nav-links>li>a {
        opacity: 0;
        transition: opacity 100ms ease-in-out ;
    }

    .nav-links>li>a:hover {
        color:  var(--teal);
    }

    .about-container {
        flex-direction: column;
        gap: 2em;
        max-width: 100%;
    }

    .project {
        max-width: 100%;
    }

    .offerings {
        flex-direction: column;
    }

    .offering {
        flex-basis: 50%;
    }
}


/* Mobile and Smaller Styling */
@media all and (max-width : 40em) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 2rem;
    }

    .logo {
        font-size: 1.125rem;
    }

    .nav-links {
        font-size: 1rem;
    }

    #see-projects {
        font-size: 1rem;
    }

    .offerings {
        max-width: 100%;
    }

    .offering>h3 {
        font-size: 1.75rem;
    }

    .offering>p {
        font-size: 1.5rem;
    }

    .about-content>h3 {
        font-size: 1.5rem;
    }

    .about-content>p {
        font-size: 1.25rem;
    }

    .project {
        gap: 0;
    }

    .project-content>h3>a {
        font-size: 1.75rem;
        padding-bottom: 0.5em;
        margin-bottom: 0;
    }

    .technology-used {
        font-size: 1.25rem;
    }

    .project-description {
        font-size: 1.25rem;
    }

    footer>.flex-container {
        flex-direction: column;
        padding-top: 1rem;
        gap: 1em;
    }

    footer>.flex-container>a {
        margin: 0 auto;
    }
}